* {
	margin: 0;
	padding: 0;
}



#myCarousel .carousel-indicators li{
    margin:0 4px;
    background-color: black;
}
#myCarousel .carousel-indicators li.active{
    background-color: white;
}

hr{
    width: 60px;
    /*background-color: black;*/
    /*border-top: 2px solid #000000;*/
}



.content {
 	margin-top:50px;
 	margin-bottom:50px;
 	text-align: center;
    color:black;
    padding-left:  18%;
    padding-right: 18%;
 }


 .p {
 	display: inline-block;
    position: absolute;
    top: 27%;
    left: 41%;
    font-size: 148px;
    color: white;
    font-family: railway_thin;
}
@font-face{
font-family: railway_thin;
src:url("Raleway/Raleway-Thin.ttf");
}
.p1{

display: block;
position: absolute;
top: 49%;
left: 43%;
font-size: 45px;
color: white;
font-family: raleway_bold;
letter-spacing: 8px;

}
@font-face{
font-family: raleway_bold;
src:url("Raleway/Raleway-Bold.ttf");
}

#a
{
    display: block;
    background: black;
    color: white;
    position: absolute;
    font-size: 25px;
    left: 50px;
    top: 20px;
    padding :10px;
    width: auto;

}
#m{
     font-size:20px;
     cursor:pointer;
     right:40px ;
     top:31px; 
     position:absolute;
     color:white;
     border-top-style: solid;
     border-bottom-style: solid;
     border-top-width: 2px;
     border-bottom-width: 2px;

     }

	.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-family: montserrat-bold;
    letter-spacing: 5px;
    z-index: 20;
}

@font-face{

    font-family: montserrat-bold;
    src:url("Montserrat/Montserrat-Bold.ttf");
}

.overlay a {
    padding: 6px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.b{
    text-align: center;
    font-size: 40px;
    margin-bottom: 3%;
    
}

.twoimg{
    position: relative;
    width:100%;
    min-height: 500px;
    margin-top: 2%;
 }


 .back{
    position: absolute;
    width: 50%;
    background-color:pink;
    height:500px;
}
.twoimg_img{
    left:50%;
    position: absolute;
    height:500px;
    width: 50%;

}

.text{

     margin-top: 18px;
     padding:50px;
     font-size: 20px;

     }



.dot {
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    border-color: black;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot_family{
    top:80%;
    position:absolute;
    left:15%;
}


.active {
  background-color: black;
}

/* Fading animation */
.fade {  
    animation-name: fade;
    animation-duration: 3s;
}


@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}



.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.banner{
    background-image: url("webassets/hand2.jpeg");
    background-position: center;
    background-size: cover;
    min-height: 500px;
    width: 100%
}

.ha{
    position: relative;
    width: 100%;
    height:500px;
    z-index:4;
    margin-top: 10%;
    background-color: rgba(0,0,0,0.5);

}
 
 #h{
    z-index: 5;
    position: absolute;
    height:500px;
    width: 100%;
 }

 .banner_txt
{
    position:absolute;
    color:white;
    transform: translate(-50%, -50%);
    font-size: 40px;
    display: block;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 1;
    font-family: raleway;
}


#banner_foot{
    font-size: 20px;
    font-family: raleway_bdy;
}




.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: 0px;
      height: 500px;
      background-color: transparent;
  }




.lowest_sec{
    background-color: #e0dedb;
}


.img_man{
    background-image: url("webassets/man.jpg");
    background-position: center;
    background-size: cover;
    min-height: 500px;
    width: 100%;
    z-index: 2;
    position: relative;
}
.img_man_over{
    background-color: rgba(0,0,0,0.5);
    z-index: 4;
    min-height: 500px;

}

.stay{
    position:absolute;
    top:17%;
    left:28%;     
    color:white;
    font-size: 51px;
    text-align: center;
    font-family: true;
    letter-spacing: 2px; 
    
}
@font-face{
    font-family: true;
    src:url("TCCM____.TTF");
}

.share{
    position: absolute;
    bottom:5%;
    color:white;
    left:70%;

}

.img_mount{
    background-image: url("webassets/mount.jpeg");
    background-position: center;
    background-size: cover;
    min-height: 250px;
    width: 100%;
    z-index: 2;
    position: relative;
}


#mount{
    position:absolute;
    top:11%;
    left:6%;     
    color:black;
    font-size: 28px;
    text-align: center;
    font-family: true;
    letter-spacing: 2px; 
    
}



#man{
    position:absolute;
    text-align: center;
    font-size: 28px;
    top:39%;
    left:33%;
    color:white;
    font-family:foot_head;
    z-index: 12;
}

#cup{
    position: absolute;
    text-align: center;
    font-size: 30px;
     top:20%;
     left:32%;
     font-family:lakes;
}

@font-face{
    font-family:lakes;
    src:url("GreatLakesNF.ttf");

}



.foot{
    font-family:foot_head;
    letter-spacing: 1px;
}

@font-face{
    font-family: foot_head;
    src:url("Montserrat/Montserrat-Bold.ttf");
}

.last{
    font-family:montserrat;
    letter-spacing: 2px;
}

@font-face{
    font-family:montserrat;
    src:url("Montserrat/Montserrat-Regular.ttf");
}
.table{
    font-family: raleway;
}

@font-face{
    font-family: raleway;
    src:url("Raleway/Raleway-Bold.ttf");
}
.grid{
    padding: 5%;
}

.bdy{
    font-family: raleway_bdy;
}

@font-face{
    font-family: raleway_bdy;
    src:url("Raleway/Raleway-Medium.ttf");
}

.f{
    font-family: raleway_f;
}

@font-face{
    font-family: raleway_f;
    src:url("Raleway/Raleway-Regular.ttf");
}

.footer{
    background-color:  #e0dedb;
    margin-top: 5%;
}

.link{
    margin-right: 2%;
}

    




@media only screen and (max-width: 1000px) {
    .p {
        font-size: 120px;
        left:38%;
    }
    .p1{
        font-size: 38px;

    }
    .stay{
        font-size: 48px;
    }
    
}




@media only screen and (max-width: 800px) {
    .p {
        font-size: 90px;
        left:38%;
    }
    .p1{
        font-size: 30px;
    }
   #a{
        font-size:5px;
    }
    .b{
        font-size: 40px;
    }
    #m{
        font -size: 10px;
    }
    .text{
        margin-top: 15px;
        font-size: 12px;
        padding:40px;
    }
    .banner_txt{
        font-size: 25px;
    }
    #banner_foot{
        font-size: 20px;    

    } 
    #mount{
        font-size: 25px;
    }
    #man{
        font-size: 25px;
    }
     .twoimg{
         min-height: 300px;

    }
    .back{
        height:300px;

    }
    .twoimg_img{
        height:300px;

    }
    .dot {
         height: 10px;
         width: 10px;
         margin: 0px;
    }

    .dot_family{
        top:90%;
        position:absolute;
        left:10%;
    }
    .banner{
        min-height: 400px;
    }
    .ha{
         max-height: 400px;
    }
    .stay{
        font-size: 45px;
    }
    .img_man
    {
         min-height: 420px;
    }
   .img_man_over{
        min-height: 420px;
    }

   
}


@media only screen and (max-width: 600px) {
    .p {
        font-size: 40px;
    }
    .p1{
        font-size: 15px;
    }
   #a{
        font-size:5px;
    }
    .b{
        font-size: 30px;
    }
    #m{
        font -size: 10px;
    }
    .text{
        margin-top: 8px;
        font-size: 10px;
        padding:20px;
    }
   
     .banner_txt{
        font-size: 20px;
    }
    #banner_foot{
        font-size: 15px;    

    } 
    #mount{
        font-size: 25px;
    }
    #man{
        font-size: 25px;
    }
    .twoimg{
         min-height: 200px;

    }
    .back{
        height:200px;

    }
    .twoimg_img{
        height:200px;

    }
     .dot {
        height: 8px;
         width: 8px;
        margin: 0px;
    }
    .dot_family{
        top:85%;
        position:absolute;
        left:10%;
    }

    .banner{
        min-height: 300px;
    }
    .ha{
        max-height: 300px;
    }
    .stay{
        font-size: 35px;
    }
    .img_man
    {
         min-height: 400px;
    }
   .img_man_over{
        min-height: 400px;
    }  

}


 
@media only screen and (max-width: 500px) {
    .p {
        font-size: 20px;
    }
    .p1{
        font-size: 10px;
    }
   #a{
        font-size:4px;
    }
    .b{
        font-size: 20px;
    }
    #m{
        font-size: 5px;
    }
    .banner_txt{
        font-size: 15px;
    }
    #banner_foot{
        font-size: 10px;    

    } 
    .text{
        margin-top: 10px;
        font-size: 8px;
        padding:10px;
    }
      #mount{
        font-size: 25px;
    }
    #man{
        font-size: 25px;
    }
    .twoimg{
         min-height: 200px;

    }
    .back{
        height:200px;

    }
    .twoimg_img{
        height:200px;

    }
     .dot {
        height: 5px;
        width: 5px;
        margin: 0px;
    }
    .dot_family{
        top:85%;
        position:absolute;
        left:10%;
    }
    .img_man
    {
         min-height: 380px;
    }
   .img_man_over{
        min-height: 380px;
    }
    .btn.btn-link
{
    font-size: 8px;
} 


   }



@media only screen and (max-width: 300px) {
    .p {
        font-size: 10px;
    }
    .p1{
        font-size: 2px;
    }
    #a{
        font-size:2px;
    }
    .b{
        font-size: 15px;
    }
    #m{
        font-size: 2px;
    }
    .banner_txt{
        font-size: 15px;
    }
    #banner_foot{
        font-size: 10px;    

   }
   .text{
    margin-top: 10px;
    font-size: 4px;
    padding:0px;
   }
     
    #man{
        font-size: 25px;
    }
    .twoimg{
         min-height: 100px;
    }
    .back{
        height:100px;
    }
    .twoimg_img{
        height:100px;        
    }
     .dot {
         height: 2px;
         width: 2px;
        margin: 0px;
    }
    .dot_family{
        top:85%;
        position:absolute;
        left:10%;
    } 
    .last{
        letter-spacing: 0px;
    }
    .foot{
        letter-spacing: 0px;
    }
    .btn.btn-link
{
    font-size: 7px;
} 
}














