* {
	margin: 0;
	padding: 0;
}





.content {
 	margin-top:50px;
 	margin-bottom:50px;
 	text-align: center;
    color:#7e5510;
 }


 .p {
 	display: block;
    position: absolute;
    top: 30%;
    left: 56%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color:white;
     font-stretch: 2%;
}
.p1{

    display: block;
    position: absolute;
    top: 36%;
    left: 60%;
    transform: translate(-50%, 0%);
    font-size: 50px;
    color:white;

}

#a
{
    display: block;
    background: black;
    color: white;
    position: absolute;
    font-size: 25px;
    left: 50px;
    top: 20px;
    padding :10px;
    width: auto;

}
#m{
     font-size:20px;
     cursor:pointer;
     right:40px ;
     top:20px; 
     position:absolute;
     text-decoration: underline;
     color:white;
     }

	.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.overlay a {
    padding: 6px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.b{
    text-align: center;
    font-size: 40px;
    
}

.twoimg{
    position: relative;
    width:100%;
    min-height: 500px;
    margin-top: 50px;
 }


 .back{
    margin-top:50px;
    position: absolute;
    width: 50%;
    background-color:pink;
    height:400px;
    z-index:-1;
}
.twoimg_img{
    left:50%;
    z-index: 1;
    position: absolute;
    height:500px;
    width: 50%;

}

  .text{

     	margin-top: 18px;
     	padding:50px;
     	font-size: 20px;

     }



.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot_family{
top:80%;
position:absolute;
left:15%;
}


.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  
  animation-name: fade;
  animation-duration: 3s;
}


@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}



.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


.banner{
    position: relative;
    width:100%;
    min-height: 500px;
    margin-top: 50px;
 }

.ha{
    margin-top:50px;
    position: absolute;
    width: 100%;
    background-color:#111538;
    height:400px;
    z-index:-1;

}
 
 #h{
    z-index: 1;
    opacity: 0.5;
    position: absolute;
    height:500px;
    width: 100%;
 }

 .banner_txt
{
    position:absolute;
    color:white;
    transform: translate(-50%, -50%);
    font-size: 30px;
    display: block;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 1;
}

#banner_foot{
font-size: 20px;    

}





.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: 0px;
      height: 500px;
  }


.stay{
    position:absolute;
    top:30%;
    color:white;
    font-size: 25px;
    text-align: center;
    left:30%;
    z-index: 1;
}

.lowest_sec{
    background-color: #e0dedb;
}

#mount{
    position: absolute;
    font-size: 15px; 
    top:20%;
    left:10%;
    z-index: 1;
    color:#000000;


}


#man{
    position:absolute;
    text-align: center;
    font-size: 30px;
    top:20%;
    color:white;
}
#cup{
    position: absolute;
    text-align: center;
    font-size: 20px;
     top:20%;
     left:10%;
}





@media only screen and (max-width: 800px) {
    .p {
        font-size: 50px;
    }
    .p1{
        font-size: 20px;
    }
   #a{
        font-size:5px;
    }
    .b{
        font-size: 40px;
    }
    #m{
        font -size: 10px;
    }
    .text{
        margin-top: 15px;
        font-size: 12px;
        padding:40px;
    }
    .banner_txt{
        font-size: 25px;
    }
    #banner_foot{
        font-size: 20px;    

    } 
    #mount{
        font-size: 15px;
    }
    #man{
        font-size: 25px;
    }
     .twoimg{
         min-height: 300px;

    }
    .back{
        height:200px;

    }
    .twoimg_img{
        height:300px;

    }
    .dot {
  height: 10px;
  width: 10px;
  margin: 0px;
}

.dot_family{
top:90%;
position:absolute;
left:10%;
}


   
}


@media only screen and (max-width: 600px) {
    .p {
        font-size: 40px;
    }
    .p1{
        font-size: 15px;
    }
   #a{
        font-size:5px;
    }
    .b{
        font-size: 30px;
    }
    #m{
        font -size: 10px;
    }
    .text{
        margin-top: 8px;
        font-size: 10px;
        padding:20px;
    }
   
     .banner_txt{
        font-size: 20px;
    }
    #banner_foot{
        font-size: 15px;    

    } 
      #mount{
        font-size: 12px;
    }
    #man{
        font-size: 20px;
    }
     .twoimg{
         min-height: 200px;

    }
    .back{
        height:150px;

    }
    .twoimg_img{
        height:200px;

    }
     .dot {
    height: 8px;
     width: 8px;
    margin: 0px;
}
.dot_family{
    top:85%;
    position:absolute;
    left:10%;
}

   
}


 
@media only screen and (max-width: 500px) {
    .p {
        font-size: 20px;
    }
    .p1{
        font-size: 10px;
    }
   #a{
        font-size:4px;
    }
    .b{
        font-size: 20px;
    }
    #m{
        font-size: 5px;
    }
    .banner_txt{
        font-size: 15px;
    }
    #banner_foot{
        font-size: 10px;    

    } 
    .text{
        margin-top: 10px;
        font-size: 8px;
        padding:10px;
    }
      #mount{
        font-size: 8px;
    }
    #man{
        font-size: 20px;
    }
    .twoimg{
         min-height: 200px;

    }
    .back{
        height:150px;

    }
    .twoimg_img{
        height:200px;

    }
     .dot {
    height: 5px;
    width: 5px;
    margin: 0px;
}
.dot_family{
    top:85%;
    position:absolute;
    left:10%;
}


}
   


   
}
@media only screen and (max-width: 300px) {
    .p {
        font-size: 10px;
    }
    .p1{
        font-size: 2px;
    }
    #a{
        font-size:2px;
    }
    .b{
        font-size: 15px;
    }
    #m{
        font-size: 2px;
    }
    .banner_txt{
        font-size: 15px;
    }
    #banner_foot{
        font-size: 10px;    

   }
   .text{
    margin-top: 10px;
    font-size: 4px;
    padding:0px;
   }
     #mount{
        font-size: 5px;
    }
    #man{
        font-size: 20px;
    }
     .twoimg{
         min-height: 100px;

    }
    .back{
        height:90px;

    }
    .twoimg_img{
        height:100px;
        
    }
     .dot {
    height: 2px;
    width: 2px;
    margin: 0px;
}
.dot_family{
    top:85%;
    position:absolute;
    left:10%;
}

   
    
    
}














